<% provide(:title, "About") %>
<main id="page-main">
  <header id="page-main-header" class="jumbotron splash" style="background-image: url('http://placehold.it/350x65')">
    <div class="container">
      <h1>About</h1>
      <p>Blah blah blah subtitle bar thingy</p>
    </div>
  </header>
</main>
