<% provide(:title, "About") %>
<main id="page-main">
    <style> /* These styles are page specific */
    #page-main-header {
      background-image: url("http://placehold.it/350x65");
    }
  </style>

  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>About</h1>
      <p>Blah blah blah subtitle bar thingy</p>
    </div>
  </header>
</main>
