<% provide(:title, "Contact") %>
<% content_for :css_slug do %>contact<% end %>
<% content_for :header do %>Let's Talk!<% end %>
<%= render layout: "main" do %>
  <p>E-mail hello@changenuity.com for hellos!</p>
<% end %>
