<% provide(:title, "Contact") %>
<main id="page-main">
  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Let's Talk!</h1>
      <p>Blah blah blah subtitle bar thingy</p>
    </div>
  </header>
  <div class="container">
    <p>E-mail hello@changenuity.com for hellos!</p>
  </div>
</main>
