
<div id="static-pages-home">
  <div class="header-wrapper">
    <header class="jumbotron">
      <div>
        <h1>
          Welcome to<br/><strong>Changenuity</strong>
        </h1>
        <p>
          What impact will you have on the world today?
        </p>
        <div class="button-group">
          <a href="#0" class="btn btn-primary">Take A Tour</a>
          <a href="#0" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
    </header>
    <%= video_tag('/videos/homepage-background-video.webm',id:'homepage-video',class:'background-video',size:'1280x720',autoplay:true,muted:true,loop:true) %>
  </div>
  <main id="homepage-main" class="container">
    <article class="splash-body">
      <section>
        <i class="material-icons navbar-handle open-nav">search</i>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </section>
      <section>
        <i class="material-icons navbar-handle open-nav">forum</i>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </section>
      <section>
        <i class="material-icons navbar-handle open-nav">people</i>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </section>
    </article>
  </main>
</div>
