<div id="center-image">
  <div id="background-overlay">
    <div id="center-text">
      <h3>Discover your team, mentor, project, or cause.</h3>
      <h2>Find your change.</h2>
    </div>
  </div>
</div>
