
<div id="static-pages-home">
  <header class="jumbotron">
    <div class="container">
      <div class="header-wrapper">
        <h1>
          Welcome to<br/><strong>Changenuity</strong>
        </h1>
        <!-- Experimental forms, no actions associated -->
        <form action="" method="post">
          <div class="form-widget">
            <label for="user-mail" class="sr-only">Email</label>
            <input type="email" id="user-email" placeholder="example@email.com" name="user_email">
          </div>
          <button type="submit" class="homepage-button button-sign-up"><i class="material-icons button-icon">person_add</i><span>Sign Up</span></button>
          <p>Or <a href="#">Sign In</a></p>
        </form>
        <a href="#homepage-main" class="explore-button"><i class="material-icons">keyboard_arrow_down</i></a>
      </div>
    </div>
    <div class="video-wrapper">
      <%= video_tag('/videos/homepage-background-video.webm',id:'homepage-video',class:'background-video',size:'1280x720',autoplay:true,muted:true,loop:true) %>
    </div>
  </header>

  <main id="homepage-main">
    <article class="article-1">
      <section class="container">
        <div class="content-wrapper">
          <p>We make global development <em>easy</em> and <em>accessible</em>.</p>
        </div>
      </section>
    </article>
    <article class="article-2">
      <div class="container">
        <div class="content-wrapper">
          <section class="focus-card">
            <i class="material-icons navbar-handle open-nav">search</i>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
              ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt explicabo.
            </p>
          </section>
          <section class="focus-card">
            <i class="material-icons navbar-handle open-nav">forum</i>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
              ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt explicabo.
            </p>
          </section>
          <section class="focus-card">
            <i class="material-icons navbar-handle open-nav">people</i>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
              ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt explicabo.
            </p>
          </section>
        </div>
      </div>
    </article>
  </main>
</div>
