
<div id="static-pages-home">
  <header class="jumbotron">
    <div class="container">
      <div class="header-wrapper">
        <h1>
          Welcome to<br/><strong>Changenuity</strong>
        </h1>
        <div class="button-group">
          <a href="#0" class="homepage-button"><i class="material-icons button-icon">explore</i><span>Explore</span></a>
          <a href="#0" class="homepage-button"><i class="material-icons button-icon">person_add</i><span>Sign Up</span></a>
        </div>
      </div>
    </div>
    <div class="video-wrapper">
      <%= video_tag('/videos/homepage-background-video.webm',id:'homepage-video',class:'background-video',size:'1280x720',autoplay:true,muted:true,loop:true) %>
    </div>
  </header>

  <main id="homepage-main">
    <article class="article-1">
      <section class="container">
        <div class="content-wrapper">
          <p>We make global development <em>easy</em> and <em>accessible</em>.</p>
        </div>
      </section>
    </article>
    <article class="article-2">
      <div class="container">
        <div class="content-wrapper">
          <section class="focus-card">
            <i class="material-icons navbar-handle open-nav">search</i>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
              ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt explicabo.
            </p>
          </section>
          <section class="focus-card">
            <i class="material-icons navbar-handle open-nav">forum</i>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
              ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt explicabo.
            </p>
          </section>
          <section class="focus-card">
            <i class="material-icons navbar-handle open-nav">people</i>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
              ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt explicabo.
            </p>
          </section>
        </div>
      </div>
    </article>
  </main>
</div>
