<div id="static-pages-home">
  <header id="homepage-header" class="jumbotron">
    <div class="container main-container">
      <div class="header-wrapper">
        <h1 class="main-header">Work for the world.</h1>
        <p class="main-subheader">
          Find remote jobs at companies making a positive impact on the world.
        </p>
        <h2 class="form-header">Join now for early access.</h2>
        <%= link_to "Sign Up", new_registration_path(:user), class: "btn btn-outline-primary" %>
      </div>
    </div>
    <div class="video-wrapper">
      <%= video_tag "/videos/homepage-background-video.webm", id: "homepage-video", class: "background-video", size: "1280x720", preload: "auto", autoplay: true, muted: true, loop: true %>
    </div>
  </header>
</div>
