<div id="static-pages-home">
  <header id="homepage-header" class="jumbotron">
    <div class="container main-container">
      <div class="header-wrapper">
        <h1 class="main-header">Social freelancers for your social enterprise.</h1>
        <p class="main-subheader">
          Find flexible, affordable, and mission-driven talent for changing
          the world.<br/>Wherever in the world you are.
        </p>
        <h2 class="form-header">Be the first to know when we launch.</h2>
        <form class="ml-form">
          <label class="sr-only" for="ml-address">Email Address</label>
          <input class="input-text" placeholder="email" type="text" id="ml-address">
          <button class="btn btn-outline-primary" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
    <div class="video-wrapper">
      <%= video_tag "/videos/homepage-background-video.webm", id: "homepage-video", class: "background-video", size: "1280x720", preload: "auto", autoplay: true, muted: true, loop: true %>
    </div>
  </header>
</div>
