<% provide(:title, "Privacy Policy") %>
<main id="page-main">
  <div class="container">
    <h1>Privacy Policy</h1>
    <ul>
      <li>We only collect the personal information that you personally submit to us, via the Post and Edit Profile forms.</li>
      <li>The only purpose of this information is to enhance your user experience on the site.</li>
      <li>You can opt-out of all data collection by simply not submitting any personal information to the website.</li>
      <li>However, all information you enter, except for your e-mail address, will be visible to all members of Changenuity.</li>
    </ul>
  </div>
</main>
