<% provide(:title, "Under Construction") %>
<main id="static-pages-tba">
  <header class="jumbotron splash">
    <div class="container">
      <h1>Under Construction</h1>
      <p>Sorry, this feature is still under development. Check back soon!</p>
      <a class="button">Back To Previous</a>
    </div>
  </header>
</main>
