<% provide(:title, "Under Construction") %>
<% content_for :css_slug do %>tba<% end %>
<% content_for :header do %>Under Construction<% end %>
<%= render layout: "main" do %>
  <p>Sorry, this feature is still under development. Check back soon!</p>
<% end %>
