<% provide(:title, "Under Construction") %>
<main id="page-main">
  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Under Construction</h1>
      <p>Sorry, this feature is still under development. Check back soon!</p>
    </div>
  </header>
</main>
