<% provide(:title, "Under Construction") %>
<div id="static-pages-tba" class="static-pages">
  <header id="static-pages-tba-header" class="static-pages-header">
    <div class="container">
      <h1>Under Construction</h1>
    </div>
  </header>
  <main class="static-pages-main">
    <section class="container">
      <p>Sorry, this feature is still under development. Check back soon!</p>
    </section>
  </main>
</div>
