<% provide(:title, "Terms and Conditions") %>
<main id="page-main">
  <div class="container">
    <h1>Terms and Conditions</h1>
    <h4>Our rules, straight and simple - we believe in making things accessible.</h4>
    <ol>
      <li>
        <h4>Using Our Website</h4>
        <ul>
          <li>You agree to be respectful at all times to other users of the website, irrespective of differences or disagreements you may have.</li>
          <li>Changenuity is not responsible for the content of our users; you agree not to hold us liable for any inappropriate or unlawful content.</li>
          <li>Breaches of our terms and conditions will be handled with appropriate interventionary action, including, but not limited to account suspension or termination.
          </li>
          <li>You own the rights to what you put on our website. We don't, and no one else either.</li>
          <li>Similarly, Changenuity owns the rights to what it creates. Unless we say so, our content is not (currently) free to reuse.</li>
          <li>If you sign up to become a user, it is your responsibility to keep your login information safe. On our end, we will keep it secure from data breaches.</li>
          <li>We use cookies. This information is used to improve your website experience and will <strong>never</strong> be used to personally identify you.</li>
        </ul>
      </li>
      <li>
        <h4>Rules for ourselves</h4>
        <ul>
          <li>We will never share your personal information with other users or third parties. We love transparency, but only when it keeps people safe and comfortable.
          </li>
          <li>We will do our best to swiftly remove any content deemed inappropriate or unlawful that appears on our website, and to take appropriate action against the perpetrating content-makers.</li>
        </ul>
      </li>
      <li>
        <h4>Modification</h4>
        <ul>
          <li>Changenuity is a rapidly growing web platform, and that means its terms and conditions are subject to change. As the team building the site, we reserve the right to modify our rules. Rest assured, however, that we will ensure that the security and privacy of our users are maintained at all times.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</main>
