<% provide(:title, @user.name) %>
<div id="users-show">
    <div class="container users-show-container">
      <div class="control-panel">
        <div class="calling-card">
          <%= gravatar_for @user %>
          <p class="user-name"><%= @user.name || @user.username %></p>
          <p class="user-email"><span class="row-title">Email:</span><%= @user.email %></p>
        </div>
        <ul class="quick-access">
          <li class="quick-access-link"><a href="#0">Profile</a></li>
          <li class="quick-access-link"><a href="#0">Jobs</a></li>
          <li class="quick-access-link"><a href="#0">Projects</a></li>
          <li class="quick-access-link"><a href="#0">Teams</a></li>
          <li class="quick-access-link"><a href="#0">Messages</a></li>
        </ul>
      </div>
      <div class="content-panes">
        <div class="jobs-pane">
          <div class="jobs-pane-header">
            <h2>My Jobs</h2>
          </div>
          <div class="projects-container">
            <%= render partial: "/projects/project", collection: @projects %>
          </div>
        </div>
      </div>
    </div>
</div>
