<% provide(:title, @user.name) %>
<div id="users-show">
    <div class="container">
      <div class="row main-row">
        <div class="control-panel col-3">
          <div class="calling-card">
            <%= gravatar_for @user %>
            <p class="user-name info-line"><%= @user.name || @user.username %></p>
            <p class="user-email info-line"><%= @user.email %></p>
          </div>
          <ul class="quick-access">
            <li class="quick-access-item"><a href="#0">Profile</a></li>
            <li class="quick-access-item active"><a href="#0">Jobs</a></li>
            <li class="quick-access-item"><a href="#0">Projects</a></li>
            <li class="quick-access-item"><a href="#0">Teams</a></li>
            <li class="quick-access-item"><a href="#0">Messages</a></li>
          </ul>
        </div>
        <main class="content-panes col-9">
          <div class="main-inner">
            <div class="jobs-pane">
              <div class="jobs-pane-header">
                <h2>My Jobs</h2>
              </div>
              <div class="projects-container">
                <!-- <div class="box"></div>
                  <div class="box"></div>
                    <div class="box"></div>
                      <div class="box"></div>
                        <div class="box"></div>
                          <div class="box"></div> -->
                <%= render partial: "/projects/project", collection: @projects %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
</div>
