<html>

<head>
    <title>Home</title>
</head>

<main id="page-main">
    <style> /* These styles are page specific */
    #page-main-header {
      background-image: url(<#>);
    }
  </style>

  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>An online platform for social impact collaboration.</h1>
      <button>SIGN ME UP</button>
      <button>BROWSE PROJECTS</button>
      <img src=# alt=homeBanner>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <section id="main-section" class="col-md-12">
        <section>
          <h2>Changing the world is hard.</h1>
          <h4>That's why we're building a sleek web-app to help changemakers, NGOs, and social enterprises work together on the global challenges.</h4>
          <img src=# alt=SDG_icon1>
          <img src=# alt=SDG_icon2>
          <img src=# alt=SDG_icon3>
          <img src=# alt=SDG_icon4>
        </section>
        <section>
          <h2>Multiple ways to engage.

        </section>
      </section> <!-- End of sidebar-section -->
    </div>
  </div>
</main>
</html>