<% provide(:title, "Browse Projects") %>
<div id="projects-index">
  <header class="projects-index-header">
    <div class="container">
      <h1 class="main-header">Browse</h1>
    </div>
  </header>
  <main class="projects-index-main">
    <section class="container projects-container">
      <%= render @projects %>
    </div>
  </main>
</div>
