<% provide(:title, "Browse Projects") %>
<% content_for :css_slug do %>index<% end %>
<% content_for :header do %>
  <h1>Browse</h1>
<% end %>
<%= render layout: "main" do %>
  <div class="projects-container">
    <%= render @projects %>
  </div>
<% end %>
