<% provide(:title, @project.name) %>
<div id="projects-show" class="projects projects-show">
  <header style="background-image: url(<%= @project.image.url(:medium) %>)">
    <div class="container">
      <h1><%= @project.name %></h1>
      <p class="project-location"><%= @project.location %></p>
    </div>
  </header>
  <main></main>
</div>
