<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Your project, <%= @project.name %>, has a new proposal on Changenuity!</p>
  <p>To view your project, just follow this link: <%= @url %>.</p>
</body>
</html>
