/* Universal styles */
body {
	min-width: 450px;
	font-family: "Lato", sans-serif;
}

section {
	margin-bottom: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.text-white {
	color: white;
}

.text-secondary {
	color: #41A370; /* Turquoise */
}

.text-primary {
	color: #EF855E; /* Orange */
}

.bg-primary {
	background-color: #EF855E; /* Orange */
}

.bg-white {
	background-color: #FFF;
}

/* Banner styles */

.jumbotron-background {
	background-position: center 60%;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron {
	background-color: rgba(0, 0, 0, 0.7);
	padding-bottom: 80px;
	margin-bottom: 0;
}

.jumbotron h1 {
	color: white;
	margin-bottom: 20px;
	font-weight: 300;
}

.jumbotron .container-wrapper {
	border-top: 1px solid #41A370; /* Turquoise, couldn't isolate */
	border-bottom: 1px solid #41A370; /* Turquoise */
}


/* Main content Styles */

.shift-up {
	position: relative;
	top: -50px;
}

section.container {
	border-radius: 5px;
	overflow: hidden;

	-webkit-box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
	-moz-box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
	box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
}

.faux-col {
	background: url("../images/faux-col-primary.png");
	background-size: 25%;
	background-position: left;
	background-repeat: repeat-y;
}

.brand-icon {
	margin-top: 14px;
	margin-bottom: 14px;

	width: 66.6%;
	height: auto;

	padding: 10px;
	background-color: #FFF;
	border-radius: 100%;
}

/* Info-card styles */
.info-card {
	font-size: 16px;
}

.info-card .p-container {
	border-radius: 5px;
	padding-top: 14px;
}

.info-card p {
	margin-bottom: 14px;
	/*font-size: 16px;*/
	font-weight: 500;
}

.info-card .special-msg {
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 5px;
	letter-spacing: 1.5px;
	border: 1px solid #EF855E;
}

.info-card ul {
	list-style: none;
	padding: 0;
	clear: both;
}

.info-card .clink {
	width: 100%;

	background-repeat: no-repeat;
	background-size: auto 70%;
	background-position: 0 center;

	display: block;
	padding: 14px 0;
	padding-left: 50px;
}

.info-card .clink-fb {
	background-image: url("../images/socialcons/Facebook-black.svg");
}

.info-card .clink-web {
	background-image: url("../images/socialcons/Facebook-black.svg");
}

.info-card .clink-email {
	background-image: url("../images/socialcons/Facebook-black.svg");
}

/* Description styles */

.description h2 {
	margin: 0 0 10px 0;
	padding-top: 60px;
	padding-bottom: 20px;

	font-size: 38px;
}

.description p {
	line-height: 1.8;
	font-size: 18px;

	font-weight: 200;
}

/* xs only */
@media (max-width: 767px)
{
	.info-card {
		font-size: 15px;
	}

	.jumbotron h1 {
		font-size: 44px;
	}

	.container-wrapper {
		padding: 0 20px;
	}

	.brand-icon {
		width: 165px;
		height: 165px;
	}

	.info-card .lead {
		font-size: 1.2em;
	}

	.faux-col {
		background-size: 100%;
		background-position: right;
		background-repeat: repeat-y;
	}
}

/* sm only */
@media (min-width: 768px) and (max-width: 992px)
{
	.faux-col {
		background-size: 33.33%;
	}
}

/* sm and up */
@media (min-width: 768px)
{
	.jumbotron {
		padding-bottom: 100px;
	}
}
