@import "global";

.projects-show {

  #page-main-header {
    p {
      float: left;
      margin-bottom: 10px;
    }

    #project-team {
      width: 100%;
    }

    #project-location {
      position: relative;
      z-index: 1;
      padding-right: 30px; /* Line in-between location and date */

      &::before {
        /* For generating that little line in-between location and date */
        content: ""; /* Necessary for the pseudo-element to show */
        position: absolute;
        z-index: -1;
        right: 15px;
        top: 5px;
        bottom: 5px;
        border-right: 1px solid white;
      }
    }
  }

  /* ============================================
     Tags Styles
  ============================================ */

  #tags {
    margin: 0;
    font-size: 0;

    li {
      padding: 10px 10px;
      margin-right: 5px;
      margin-top: 10px;
    }
  }

  /* ============================================
     Sidebar Styles
  ============================================ */

  #sidebar-section {
    article {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h4 {
      padding: 30px 0;
      font-size: 26px;
      letter-spacing: 2;
      text-align: center;
    }
  }

  #project-contact {
    > * {
      margin-bottom: 30px;
    }
  }

  #contact-btn {
    width: 100%;
  }
  #social-media-links {
    width: 100%;
  }

  #contact-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;

    letter-spacing: 10px;
    font-size: 20px;
  }

  #social-media-links {
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
  }

  .connect-link {
    width: 33.333%;
    padding: 0 10px;
    &:hover {
      opacity: 0.8;
    }
    img {
      width: 100%;
      height: auto;
      max-width: 100px;
      max-height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    span {
      font-size: 18px;
    }
  }
}

/* ============================================
   Media Queries Styles
============================================ */

@media (min-width: 768px) { /* Tablets and up */
}

@media (min-width: 992px) { /* md and up */
  .projects-show {
    #sidebar-section {
      border-left: 1px solid $color-light-turquoise;
      border-right: 1px solid $color-light-turquoise;
      article {
        width: 100%;
      }
      h4 {
        font-size: 20px;
        padding: 15px 0;
      }
    }
    #project-contact {
      > * {
        margin-bottom: 30px;
      }
    }
    #contact-btn {
      letter-spacing: 3px;
    }
  }
}
