@import "global";

$nav-bar-height: 65px;

/* ============================================
   Navbar Styles - WIP
============================================ */

nav {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
  background-color: #FFFFFF;
}

#page-main {
  position: relative;
  top: $nav-bar-height;
}

#nav-header {
  display: block;
  height: $nav-bar-height;
  width: 100%;
}

#brand-logo {
  width: auto; /* Maintains aspect ratio */
  height: 100%;
}

#handle {
  color: $color-orange;
  font-size: 28px;
  float: right;
  padding-top: ($nav-bar-height - 28px)/2; /* Math in CSS? BLASPHEMY */
  padding-right: 5px;
  height: $nav-bar-height;

  cursor: pointer;

  -webkit-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  &:hover {
    color: $color-light-orange;
  }
}

#nav-list {
  overflow: hidden;
  padding: 0;
  margin: 0 -15px;
  text-align: right;
  max-height: 0;
  z-index: -1;

  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;

  li {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  a {
    display: inline-block;
    padding: 20px 30px;
    width: 100%;

    cursor: pointer;
    color: white;
    background-color: $color-turquoise;

    text-align: left;
    font-size: 18px;

    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:hover {
      background-color: $color-mystery1;
    }
  }
}

#nav-list.showing {
  max-height: 1000px; /* Excessive, but accomodates for future links */
}

/* ============================================
   Media Queries Styles
============================================ */

@media (min-width: 768px) { /* Tablets and up */
  #page-main {
    top: 0;
  }
  nav {
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #page-main-header {
    padding-top: 200px; /* Should provide adequate space for navbar, adjust as per needed */
  }
}

@media (min-width: 992px) { /* Small computers and up */
  nav {
    height: $nav-bar-height;
  }
  #nav-header {
    height: $nav-bar-height;
  }
  #handle {
    display: none;
  }
  #nav-list {
    margin: 0;
    max-height: 256px;
    font-size: 0; /* Gets rid of the space between inline-blocks */
    li {
      width: auto; /* Shrink wrap */
    }
    a {
      height: $nav-bar-height;
      padding-left: 30px;
      padding-right: 30px;

      font-size: 20px;
      color: $color-mystery2;
      background-color: white;
      &:hover {
        color: white;
        background-color: $color-orange;
      }
    }
  }
}
