@import "bootstrap-sprockets";
@import "bootstrap";

/* ============================================
   Universal Styles
============================================ */

body {
  font-family: "Lato", sans-serif;
}

.list-inline {
  margin-left: 0;
}

.list-inline-header {
  display: inline-block;
}

.position-relative {
  position: relative;
}

.bg-color-orange {
  background-color: #EC6433;
}

.bg-color-turquoise {
  background-color: #8AB7A3;
}

.bg-color-white {
  background-color: #FFFFFF;
}

.color-orange {
  color: #EC6433;
}

.color-turquoise {
  color: #8AB7A3;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list a {
  text-decoration: none;
  color: #000000;
}

.btn {
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-primary {
  background-color: #EC6433;
  border-color: transparent;
  color: #FFFFFF;
}
.btn-primary:hover {
  border-color: transparent;
  background-color: #C14F26;
}

.btn-primary-hollow {
  color: #EC6433;
  border-color: #EC6433;
  background-color: transparent;
}

.btn-primary-hollow:hover {
  color: #C14F26;
  border-color: #C14F26;
}

/* ============================================
   Splash Banner Styles
============================================ */

#page-main-header {
  padding-top: 120px; /* 83.33% */
  padding-bottom: 24px;
  position: relative; /* necessary for applying the dark gradient */
  z-index: 1; /* necessary for applying the dark gradient */

    background-position: center 60%;
    background-size: cover;
    background-repeat: no-repeat;

  color: #FFFFFF;
}

#page-main-header:before {
  /* The following is so that a dark gradient can be applied */
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

#page-main-header p {
  float: left;
  margin-bottom: 10px;
}

#project-team {
  width: 100%;
}

#project-location {
  position: relative;
  z-index: 1;
  padding-right: 30px; /* Line in-between location and date */
}

#project-location::before {
  /* For generating that little line in-between location and date */
  content: ""; /* Necessary for the pseudo-element to show */
  position: absolute;
  z-index: -1;
  right: 15px;
  top: 5px;
  bottom: 5px;
  border-right: 1px solid white;
}

/* ============================================
   Tags Styles
============================================ */

#tags {
  margin: 0;
  font-size: 0;
}

#tags li {
  padding: 10px 10px;
}

#tags li {
  margin-right: 5px;
  margin-top: 10px;
}

/* ============================================
   Main Section Styles
============================================ */

article h1, article h2, article h3, article h4, article h5, article h6 {
  /* Resets margins */
  margin-top: 0;
}

article {
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

article:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 40%;

  border-bottom: 1px solid #DDD;
}

.article-header {
  font-weight: 200;
  font-size: 40px;

  padding: 20px 0 10px;
  border-bottom: 2px solid #8AB7A3;
}

.article-header::first-letter {
  color: #EC6433;
}

article p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}

/* ============================================
   Sidebar Styles
============================================ */

#sidebar-section h4 {
  padding: 30px 0;
  font-size: 26px;
  letter-spacing: 2;
  margin-bottom: 30px;
  text-align: center;
}

#contact-btn {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 15px 0;

  letter-spacing: 1.4;
  font-size: 20px;
}

#social-media-links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}

.connect-link {
  width: 33.333%;
  padding: 0 10px;
}

.connect-link:hover {
  opacity: 0.8;
}

.connect-link img {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.connect-link span {
  font-size: 18px;
}

.related-project {
  position: relative; /* necessary for applying the dark gradient */
  z-index: 1; /* necessary for applying the dark gradient */
  background-position: center 60%;
  background-size: cover;
  background-repeat: no-repeat;

  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  border-radius: 5px;

  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.related-project:hover {
  opacity: 0.8;
}

.related-project:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  border-radius: 5px;
}

.related-project a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.related-project h5 {
  color: #FFFFFF;
  font-size: 28px;
}


/* ============================================
   Footer Styles
============================================ */


/* ============================================
   Media Queries Styles
============================================ */

@media (min-width: 768px) { /* Tablets and up */
  #contact-btn {
    width: 80%;
  }
  #social-media-links {
    width: 80%;
  }
  .related-project {
    width: 80%;
  }
}
@media (min-width: 992px) { /* md and up */
  #sidebar-section {
    border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
  }
  #sidebar-section h4 {
    font-size: 20px;
    padding: 15px 0;
    margin-bottom: 15px;
  }
  #contact-btn {
    width: 100%;
  }
  #social-media-links {
    width: 100%;
  }
  .related-project {
    width: 100%;
  }
  .related-project h5 {
    font-size: 22px;
  }
}
