@import "bootstrap-sprockets";
@import "bootstrap";

section {
	margin-bottom: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Styles link to post form */
a.link-post {
	/* Fade effects */
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

a.link-post:hover {
	color: rgb(57, 143, 103);
}


/* Heading banner styles */

.jumbotron {
	background-image: url('../images/main-back.jpg');
	background-position: center 70%;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron span, .jumbotron small {
	color: white;
}

.jumbotron div.container {
	background-color: rgba(0, 0, 0, .45);
}

/* Opportunities section styles */

.opt-section-header {
	margin-bottom: 30px;
	padding-top: 20px;
}

.opt-section-header h2 {
	font-weight: 200;
	font-size: 26px;
}

.opt-section .icon {
	width: 60%;
	height: auto;
}

.opt-section div[class*="col-"] {
	margin-bottom: 30px;
}

.opt-section .content-wrapper {
	padding: 15px;

	-webkit-box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
	-moz-box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
	box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
}

.opt-section h4 {
	padding: 10px 20px;
	margin-left: -20px;
	margin-right: -20px;


	-webkit-box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
	-moz-box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
	box-shadow: 0px 7px 38px -9px rgba(110,145,142,1);
  a {
    color: white;
  }
}

.opt-section p {
	line-height: 1.8;
}

.opt-section p.lead {
	margin-bottom: 0;
}

/* Media quarries and targeted styles */

/* xs only */
@media (max-width: 767px)
{
	.opt-section {
		width: 75%;
		max-width: 390px;
	}
}

/* sm and up */
@media (min-width: 768px)
{
	.jumbotron {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.jumbotron .h1, .jumbotron h1 {
		font-size: 46px;
	}

	.opt-section-header h2{
		font-size: 35px;
	}

}
