#projects-new, #projects-edit {

  /* Toggle Button Test */
  #recruiting-toggle {
    // Gets rid of the default checkbox
    display: none;
  }
  .toggle-label {
    display: block;
    position: relative;
    text-indent: -100000px;
    width: 4rem;
    height: 1.4rem;
    border-radius: 2rem;
    box-shadow: inset 0 0 0 0.1rem $color-light-turquoise; // box-shadow used to create border, allows children border to overlap parent's
    cursor: pointer;
    transition: $quick-transition-time ease-in-out;
  }
  .toggle-label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid $color-light-turquoise;
    background-color: white;
    transition: $quick-transition-time ease-in-out;
    box-shadow: 0.1rem 0.15rem 0.7rem -0.4rem black;
  }
  #recruiting-toggle:checked + .toggle-label {
    background-color: $color-grey;
  }
  #recruiting-toggle:checked + .toggle-label:before {
    left: 100%;
    transform: translate(-100%, -50%);
  }
}
