/* ============================================
   Global Variables
============================================ */

$color-orange: #EC6433;
$color-light-orange: #C14F26;
$color-turquoise: #8AB7A3;
$color-light-turquoise: #DDDDDD;
$color-light-grey: #F4F4F4;
$color-blue-stone: #01665D;
$color-edward: #9AA8A7;
$color-mystery1: #7AA391;
$color-mystery2: #625F5E;
$bgDefault: white;
$bgHighlight: #EC6433;

/* ============================================
   General Styles
============================================ */

body {
  font-family: "Lato", sans-serif;
}

a {
  color: $color-orange;
  text-decoration: none;

  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  &:hover {
    color: $color-light-orange;
    text-decoration: none;
  }
}

.list-inline {
  margin-left: 0;
}

.list-inline-header {
  display: inline-block;
}

.position-relative {
  position: relative;
}

.links-list {
  list-style: none;
  padding: 0;
}

.btn {
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-outline-success {
}

.btn-danger {
  // TODO: Please name the following colors
  color: white;
  background-color: #9E2727;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px #4F1616;
  margin: 0 3px 3px 0;
}

.btn-secondary {
  // TODO: Please name the following colors
  color: #056B49;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px #056B49;
  margin: 0 3px 3px 0;
}

#page-main-header {
  position: relative; /* necessary for applying the dark gradient */
  z-index: 1; /* necessary for applying the dark gradient */
  background-position: center 60%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  &:before {
    /* The following is so that a dark gradient can be applied */
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  }
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.11rem;
    font-weight: lighter;
    margin-bottom: 0.8rem;
  }
  span.emp {
    font-weight: bold;
  }
  p {
    font-size: 1.3rem;
    word-spacing: 0.2rem;
  }
}
