.static_pages_home {
  /* TODO: Change container settings so that a 10rem padding is applied across
           the homepage */

  /********************************
      Header Styles
  ********************************/

  #page-main-header {
    display: flex;
    align-items: center; /* Easy vertical alignment, easy life */
    color: #FFFFFF;
    height: 40rem;
    background-image: url("clouds-windmill-crops.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #page-main-header h2 {
    font-size: 2.6rem;
    color: #FFFFFF;
    padding-bottom: 1rem;
  }

  /********************************
      Main Section Styles
  ********************************/

  #main-section {
    /*padding: 100px;*/
    /*padding-top: 20px;
    padding-bottom: 100px;*/
  }

  #main-section article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: lightgrey;
    margin-bottom: 3rem;

    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  #main-section article > section {
    /*margin-bottom: 1.8rem;*/
  }

  #main-section article p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  #main-section article h2 {
    margin-bottom: 2.5rem;
  }

  /********************************
      Article 1 Styles
  ********************************/

  #sdg-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #sdg-list li {
    width: 22%;
  }

  #sdg-list li img {
    display: block;
    width: 100%;
    height: auto;
  }

  /********************************
      Article 2 Styles
  ********************************/

  #main-section #article-2 {
    align-items: baseline;
  }

  #main-section #article-2 p {
    font-size: 2rem;
  }

  #main-section #article-2 section {
    display: flex;
    flex-flow: row wrap;
  }

  #main-section #article-2 section > *:nth-child(1) {
    width: 100%;
  }

  #main-section #article-2 button {
  }

  #main-section #article-2 .signup-btn {
    color: #ffffff;
    background-color: #9e2727;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px #4f1616;
  }
}

#main-section #article-2 .special-btn {
  color: #056b49;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px #056b49;
  margin-bottom: 1.5rem;
}

/********************************
    Article 3 Styles
********************************/


/********************************
    Media Queries Styles
********************************/

@media (max-width: 767px) { /* Mobile only */
  .static_pages_home {
    #main-section #article-2 section > *:nth-child(1) {
      width: 50%;
      margin-bottom: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    #main-section #article-2 section {
      align-items: center;
      justify-content: space-between;
    }
    #main-section #article-2 section:nth-child(1) {
      align-items: center;
    }
    #main-section #article-2 section .btn {
      width: 40%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      margin-bottom: 0;
    }
    #main-section #article-3 section:nth-child(2) {
      height: 25rem;
      overflow: hidden;
    }
  }
}

@media (min-width: 768px) { /* sm and up */
  .static_pages_home {
    #main-section #article-2 .special-btn {
      order: -1;
    }
    #main-section #article-3 {
      overflow: hidden;
    }
    #main-section #article-3 img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 992px) { /* md and up */
  .static_pages_home {
    #sdg-list li {
      width: 24%;
    }
  }
}
