.static_pages_home {
  /* TODO: Change container settings so that a 10rem padding is applied across
           the homepage */

  h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
  }

  /********************************
      Header Styles
  ********************************/
  #page-main-header {
    display: flex;
    align-items: flex-end; /* Easy vertical alignment, easy life */
    color: #FFFFFF;
    height: 90vh; /* 90vh = 90% of viewport height */
    background-image: image-url("clouds-windmill-crops.jpg");
    // background-attachment: fixed;
    h1 {
      color: #FFFFFF;
    }
  }

  /********************************
      Main Section Styles
  ********************************/
  #main-section {
    article {
      .row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
      // background-color: lightgrey;
      margin-bottom: 1.5rem;
      padding-top: 3rem;
      padding-bottom: 3rem;

      p {
        font-size: 1.3rem;
        line-height: 2.0;
        color: #596362;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
    article:nth-child(2n) { /* Every other main article */
      color: white;
      p { color: white; }

      position: relative;
      background-color: #04895C;
      background-position: center 60%;
      background-size: cover;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
      }
    }

    /********************************
        Article 1 Styles
    ********************************/
    #article-1 {
      #sdg-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
          width: 22%;
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
    }

    /********************************
        Article 2 Styles
    ********************************/
    #article-2 {
      background-image: image-url("aerial-turbines.jpg");
      section {
        display: flex;
        flex-flow: row wrap;
      }
    }

    /********************************
        Article 3 Styles
    ********************************/
    #article-3 {}

    /********************************
        Article 4 Styles
    ********************************/
    #article-4 {
      background-image: image-url("earth-urban.jpg");
    }
  }
}


/********************************
    Media Queries Styles
********************************/

@media (max-width: 767px) { /* Up to md */
  .static_pages_home {
    #main-section {
      #article-2 {
        section {
          // align-items: center;
          justify-content: flex-start;
          margin-bottom: 2rem;
          p {
            margin-bottom: 1.25rem;
          }
          .btn {
            width: 40%;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            margin-bottom: 0;
            min-width: 13rem;
          }
        }
      }
    }
    #main-section #article-3 section:nth-child(2) {
      height: 12.5rem;
      overflow: hidden;
    }
  }
}

@media (min-width: 768px) { /* md and up */
  .static_pages_home {
    #main-section {
      #article-1 #sdg-list li {
        width: 24%;
      }
      #article-2 .btn {
        order: -1;
        width: 100%;
      }
      #article-3 {
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
