#static-pages-home {
  /* TODO: Change container settings so that a 10rem padding is applied across
           the homepage */
  h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
  }

  .main-header {
    @include darkened-background(white, $color-mystery1, "clouds-windmill-crops.jpg");
    display: flex;
    align-items: flex-end;
    height: 90vh;
  }

  main {
    article {
      margin-bottom: 1.5rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      &:nth-child(2n) {
        @include darkened-background(white, $color-mystery1, "");
        p { color: white; }
      }
      &.article-1 {
        .sdg-list {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          li {
            width: 22%;
            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }
        }
      }
      &.article-2 {
        background-image: image-url("aerial-turbines.jpg");
        section {
          display: flex;
          flex-flow: row wrap;
        }
      }
      &.article-3 {}
      &.article-4 {
        background-image: image-url("earth-urban.jpg");
      }
      .row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
      p {
        font-size: 1.3rem;
        line-height: 2.0;
        color: #596362;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}


/********************************
    Media Queries Styles
********************************/

@include media-breakpoint-down(sm) {
  #static-pages-home {
    main {
      .article-2 {
        section {
          // align-items: center;
          justify-content: flex-start;
          margin-bottom: 2rem;
          p {
            margin-bottom: 1.25rem;
          }
          .btn {
            width: 40%;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            margin-bottom: 0;
            min-width: 13rem;
          }
        }
      }
      .article-3 section:nth-child(2) {
        height: 12.5rem;
        overflow: hidden;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #static-pages-home {
    header {
      background-attachment: fixed;
    }
    main {
      article:nth-child(2n) {
        background-attachment: fixed;
      }
      .article-1 .sdg-list li {
        width: 24%;
      }
      .article-2 .btn {
        order: -1;
        width: 100%;
      }
      .article-3 {
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
