#navbar {
  display: flex;
  flex-flow: row nowrap;
  height: 65px;


  #navbar-brand, #navbar-primary, #navbar-secondary {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
  }
  #navbar-brand {
    padding: 0 15px;
    color: white;
    background-color: $color-grey;
    transition-duration: $quick-transition-time;
    &:hover {
      background-color: darken($color-grey, 15);
    }
    .brand-img {
      width: 20px;
      height: auto;
      margin-right: 5px;
    }
    .brand-text {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.02rem;
    }
  }
  #navbar-primary {
    margin: 0 10px;
    .navbar-primary-link:nth-child(1n+2) {
      border-left: 1px solid $color-grey;
    }
    .navbar-primary-link {
      position: relative;
      z-index: 1;
      font-size: 1rem;
      padding: 0 25px;
      &::after {
        z-index: -1;
        cursor: pointer;
        content: "";
        position: absolute;
        margin: 0 auto;
        top: 10px;
        left: 25%;
        height: 100%;
        width: 0;
        border-bottom: 2px solid $color-light-orange;
        transition-duration: $quick-transition-time;
      }
      &.active::after {
        width: 50%;
      }
      a { color: $color-blue-diane; }
    }
  }
}
