$color-white: white;
$color-orange: #ec6433;
$color-dark-orange: #c14f26;
$color-turquoise: #8ab7a3;
$color-dark-turquoise: #7aa391;
$color-grey: #ddd;
$color-dark-grey: #666;
$logo-height: 60px;
$navbar-height: 65px;

.navbar-custom {
  z-index: 2;
  background-color: $color-white;
  height: $navbar-height;
  padding: 0;
  -webkit-box-shadow: 0 0 18px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 18px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.5);
  .navbar-brand {
    padding: 0 0 0 5px;
    height: $navbar-height;
    line-height: $navbar-height;
    img {
      height: $logo-height;
      width: auto;
    }
  }
  .navbar-toggler {
    outline: none;
    height: $navbar-height;
    line-height: $navbar-height;
    cursor: pointer;
    // Change rgba(236, 100, 51, 1) to match $color-orange
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 100, 51, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      -webkit-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      &:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(193, 79, 38, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
  }
  .nav-item {
    .nav-link {
      height: $navbar-height;
      line-height: $navbar-height;
      padding: 0 30px;
      font-size: 20px;
    }
    .nav-link, .dropdown-item {
      color: $color-dark-grey;
      background-color: $color-white;
      -webkit-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      &:focus {
        background-color: $color-grey;
      }
      &:hover {
        color: $color-white;
        background-color: $color-orange;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar-custom .nav-item {
    .dropdown-menu {
      background-color: $color-turquoise;
    }
    // Round corners of last element in collapsed navbar,
    // which happens to be the only .dropbdown-toggle element
    .dropdown-toggle {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .nav-link, .dropdown-item {
      width: 100%;
      color: $color-white;
      background-color: $color-turquoise;
      &:focus {
        background-color: $color-dark-grey;
      }
      &:hover {
        background-color: $color-dark-turquoise;
      }
    }
  }
}
