#projects-show {
  header {
    height: 100vh;
    width: 100%;
    background-size: auto;
    background-position: center;
  }
}

body,
html {
    max-width: 100%;
    overflow-x: hidden; //make sure mobile side scrolling is disabled
}

// Phones
@include media-breakpoint-down(sm) {
  .jumbotron{
    margin-bottom: 0rem;
  }
  header
  {
    background-size: 100%;
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/change-laptop.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  #Discover
  {
    height: 30em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    h1{
      padding-top: 3rem;
      color: white;
      text-align: center;
    }
    h4{
      color: white;
      text-align: center;
    }
  }
  #view-projects
  {
    height:12rem;
    background-color: rgb(15, 73, 161);
    color: white;
    .filters
    {
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      #options-title{
        padding-top: 0.3rem;
        padding-right: 1rem;
        width: 100%;
      }
      .options{
      }
    }
  }
  #projects
  {
    margin-left: 1rem;
    .projects-card{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      .card{
        width: 10rem;
        height: 14rem;
        margin-right: 2rem;
        margin-top: 2rem;
      }
    }
  }
}


// Not phones
@include media-breakpoint-up(md) {
  .jumbotron{
    margin-bottom: 0rem;
  }
  header{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/change-laptop.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  #Discover
  {
    .tracking-in-expand {
    	-webkit-animation: tracking-in-expand 1s ease-in both;
    	        animation: tracking-in-expand 1s ease-in both;
    }
    @-webkit-keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    height: 40em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    h1{
      padding-top: 3rem;
      color: white;
      text-align: center;
      font-size: 5rem;
    }
    h4{
      color: white;
      text-align: center;
    }
  }
  #view-projects
  {
    height: 10.5rem;
    background-color: rgb(15, 73, 161);
    color: white;
    .filters
    {
      padding-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      #options-title{
        padding-top: 0.3rem;
        width: 100%;
      }
      .options{
      }
    }
  }
  #projects
  {
    margin-top: 3rem;
    .projects-card{
      display: flex;
      flex-flow: none;
      .card{
        width: 10rem;
        height: 14rem;
        margin-right: 2rem;
        margin-top: 2rem;
      }
    }
  }
}

// large monitors
@include media-breakpoint-up(xl) {
  .jumbotron{
    margin-bottom: 0rem;
  }
  header
  {
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/change-laptop.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  #Discover
  {
    //background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/change-laptop.png') no-repeat  center center fixed;
    //background-size: cover;
    //background-repeat: no-repeat;
    height: 30em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    h1{
      color: white;
      text-align: center;
    }
    h4{
      color: white;
      text-align: center;
    }
  }
  #view-projects
  {
    height:6rem;
    background-color: rgb(15, 73, 161);
    color: white;
    .filters
    {
      padding-top: 1.5rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      #options-title{
        padding-top: 0.3rem;
        width: auto;
      }
      .options{
      }
    }
  }
  #projects
  {
    margin-top: 3rem;
    margin-left: 3rem;
    .projects-card{
      display: flex;
      flex-flow: none;
    }
    .card{
      width: 10rem;
      height: 14rem;
      margin-right: 1rem;
      margin-top: 2rem;
    }
  }
}
