.pcard {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    overflow: hidden;
    transition-duration: 0.2s;
    width: 17rem;
    padding-bottom: 17px;
    border-radius: $border-radius;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    &:hover {
        box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
        cursor: pointer;
    }
    .pcard-img-container, .pcard-content, .pcard-footer {
        width: 100%;
    }
    .pcard-content, .pcard-footer {
        padding: 0 1rem;
    }
    .pcard-footer {
        margin-top: auto; /* Makes sure the footer is at the bottom */
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .pcard-img-container {
      height: 13rem; /* Uniform height on all images */
      position: relative;
      /* Display flex to leverage flex centering, ensures that the image is centered both horizontally and vertically, even if it overflows */
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: $color-blue-stone;
    }
    .pcard-img {
      /* Ensures that the image covers the container */
      flex: none;
      // height: auto;
      // width: auto;
      min-width: 100%;
      min-height: 100%;
    }
    .pcard-logo {
      flex: none;
      height: 40%;
      fill: $color-edward;
    }
    .pcard-content {
      margin-top: 17px;
    }
    .pcard-maintitle {
        font-size: 1.5rem;
        color: $color-blue-stone;
    }
    .pcard-subtitle a {
        font-size: 1.1em;
        color: $color-blue-stone;
        &:hover {
            color: $color-orange;
        }
    }
    p, .pcard-subtitle {
        font-size: 1rem;
        color: $color-edward;
    }
    .btn-fav-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 2rem;
        color: $color-edward;
        &:hover {
            cursor: default;
        }
        .btn-fav {
            display: block;
            font-size: inherit;
            transition-duration: 0.2s;
            &:hover {
                color: rgba(221, 77, 77, 0.9);
                cursor: pointer;
            }
            &.active {
                color: rgba(221, 77, 77, 0.9);
            }
        }
        .fav-count {
            font-size: 0.6em;
        }
    }
    .main-category {
        margin: 0;
        padding: 10px 15px;
        text-transform: uppercase;
        color: white;
        font-size: 0.75em;
        text-align: center;
        border-radius: 4px;
        display: inline-block;
        background-color: $color-orange;
        border-color: $color-orange;
    }
    a[data-category-value] {
        text-transform: uppercase;
        font-size: 0.75em;
    }
    a[data-category-value="Infrastructure"] {
        background-color: $color-orange;
        border-color: $color-orange;
        &:hover {
            background-color: darken($color-orange, 10);
            border-color: darken($color-orange, 10);
        }
    }
    &.pcard-recruiting .pcard-img-container::after {
      content: "Currently Recruiting";
      font-family: "Lato";
      position: absolute;
      width: 110%;
      padding-right: 1rem;
      bottom: 0;
      left: 0;
      text-align: center;
      background-color: #FF5722;
      color: white;
      border-radius: 3rem 0px;
    }
}

.pcard-disabled {
    background-color: rgba(0,0,0,0.5);
}
