.projects {
  #projects-index-header {
    background-image: image-url("headers/browse");
  }
  #projects-new-header, #projects-edit-header {
    background-image: image-url("headers/projects");
  }

  .projects-header {
    background-position: center center;
    background-size: cover;
    .container {
      padding: $header-container-padding;
      height: $header-container-height;
      h1, p {
        color: white;
        text-align: center;
      }
      h1 {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }
    }
  }

  .projects-main {
    background-color: $color-light-grey;
    .container {
      padding: 1rem 0 2rem 0;
      display: flex;
      justify-content: center;
      .projects-form {
        padding-bottom: 2rem;
        input[type="text"], input[type="date"], textarea {
          margin: 0.5rem 0;
          padding: 0.7rem 2rem;
          width: 100%;
          border-radius: 4rem;
          border: 0.1rem solid $color-orange;
          outline: none;
        }
        .actions {
          display: flex;
          .action {
            flex: 1 0 auto;
            margin-top: 1rem;
            border-radius: 4rem;
            padding: 1rem;
            color: $color-blue-diane;
            transition: $quick-transition-time;
            &:hover {
              color: white;
              background-color: $color-light-orange;
            }
          }
        }
      }
    }
    .projects-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: stretch;
      .pcard {
        flex: none;
        margin-bottom: 0.8rem;
      }
    }
  }
}
