#projects-show {
  header {
    height: 100vh;
    width: 100%;
    background-size: auto;
    background-position: center;
  }
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

// Phones
@include media-breakpoint-down(sm) {
  .jumbotron{
    margin-bottom: 0rem;
  }
  header
  {
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/small-turbines.jpg') no-repeat  center center fixed;
  }
  #Discover
  {
    height: 30em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    h1{
      padding-top: 3rem;
      color: white;
      text-align: center;
    }
    h4{
      color: white;
      text-align: center;
    }
  }
  #view-projects
  {
    height:6rem;
    background-color: rgb(15, 73, 161);
    color: white;
    .filters
    {
      padding-top: 1.5rem;
    }
  }
  #projects
  {
    margin-left: 1rem;
    .card{
      width: 15rem;
      height: 14rem;
    }
  }
}


// Not phones
@include media-breakpoint-up(md) {
  .jumbotron{
    margin-bottom: 0rem;
  }
  header{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/small-turbines.jpg') no-repeat  center center fixed;
  }
  #Discover
  {
    .tracking-in-expand {
    	-webkit-animation: tracking-in-expand 1s ease-in both;
    	        animation: tracking-in-expand 1s ease-in both;
    }
    @-webkit-keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    height: 30em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    h1{
      padding-top: 3rem;
      color: white;
      text-align: center;
      font-size: 5rem;
    }
    h4{
      color: white;
      text-align: center;
    }
  }
  #view-projects
  {
    height:5rem;
    background-color: rgb(15, 73, 161);
    color: white;
    .filters
    {
      padding-top: 1.5rem;
    }
    #types
    {
    }
  }
  #projects
  {
    margin-top: 3rem;
    .card{
      width: 10rem;
      height: 14rem;
      margin-right: 2rem;
      margin-top: 2rem;
    }
  }
}

// large monitors
@include media-breakpoint-up(xl) {
  .jumbotron{
    margin-bottom: 0rem;
  }
  header
  {
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/small-turbines.jpg') no-repeat  center center fixed;
  }
  #Discover
  {
    //background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), url('/assets/small-turbines.jpg') no-repeat  center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    h1{
      color: white;
      text-align: center;
    }
    h4{
      color: white;
      text-align: center;
    }
  }
  #view-projects
  {

  }
  #projects
  {
    margin-top: 3rem;
    margin-left: 3rem;
    .card{
      width: 10rem;
      height: 14rem;
      margin-right: 1rem;
      margin-top: 2rem;
    }
  }
}
