#projects-show {

  @keyframes floatIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes bobble {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(0.6rem);
    }
  }

  .projects-show-background-image {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: image-url("project_backdrop");
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    z-index: -1;
    transform: translateZ(0);
    pointer-events: none;
  }

  #projects-show-header {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    transition: $medium-transition-time;
    box-shadow: 0 0 4rem -1rem black;
    &.shrink {
      transform: scale(0.8);
    }
    .container {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  .project-name {
    transform: translateY(30px);
    opacity: 0;
    padding: 3rem 2rem;
    text-transform: uppercase;
    color: white;
    border: 0.1rem solid white;
    animation: floatIn 1.4s 0s ease-in-out 1 forwards;
  }
  .project-location {
    transform: translateY(30px);
    opacity: 0;
    padding: 1rem 2rem;
    background: $gradient-generic;
    text-transform: uppercase;
    color: black;
    animation: floatIn 1.4s 0s ease-in-out 1 forwards;
  }
  .explore-button {
    opacity: 0;
    position: absolute;
    bottom: 0.1rem;
    animation:  fadeIn 0.6s 1.5s linear 1 forwards,
                bobble 0.6s 1.5s linear infinite alternate;
    .material-icons {
      transition-duration: $quick-transition-time;
      font-size: 5.5rem;
      color: white;
    }
    &:hover {
      animation-play-state: paused, paused;
      .material-icons {
        text-shadow: 0 0 0.4rem white;
      }
    }
  }

  #projects-show-main {
    position: relative;
    margin-top: 100vh; // Clears the header
    width: 100%;

    padding-top: 5rem;
    padding-bottom: 3rem;
    background: $gradient-tropics;

    box-shadow: 0 0 2.8rem -0.7rem black;
  }
  .section-group {
    background-color: white;
    overflow: hidden;
    @include light-shadow;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.3rem;
    &:last-child {
      margin-bottom: 0;
    }
    @include immediate-children-bottom-margins(1rem);
  }
  .section-header {
    padding: 1rem;
    font-size: 2.45rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.12rem;
    font-family: "Roboto";
  }
  section[data-section-id="quick-info"] {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    .section-header {
      flex: none;
      margin: 0 0.3rem 0 0;
      width: 20rem;
      min-height: 10rem;
      color: black;
      border: 0.1rem solid $color-prussian-blue;
    }
    .quick-info-pane {
      flex: auto;
      margin: 0;
      background: $background-stripes;
      padding: 1rem;
      font-size: 1.1rem;
    }
    .quick-info-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 0 1rem 1rem 0;
      border-left: 0.2rem solid rgba(3, 169, 244, 0.70);
      color: #795548;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .quick-info-title {
      flex: none;
      width: 8rem;
      color: #3F51B5;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
    }
  }
  section[data-section-id="tags"] {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    .section-header {
      margin: 0;
      border: 0.1rem solid #E91E63;
      color: black;
      padding-right: 2rem;
    }
    .project-tags-wrapper {
      position: relative;
      flex: auto;
      width: 100%;
      overflow: hidden;
    }
    .project-tags {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: -1rem;
      overflow-y: hidden;
      overflow-x: auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 0;
    }
    .tag {
      flex: none;
      padding: 0 0.4rem;
      .btn {
        font-size: 1.3rem;
        padding: 0.6rem 1.3rem;
        text-transform: capitalize;
        @include light-shadow;
      }
    }
  }
  section[data-section-id="description"] {
    .section-header {
      border-left: 0.1rem solid $color-light-orange;
      border-top: 0.1rem solid $color-light-orange;
    }
    .project-description {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
  section[data-section-id="gallery"] {
    .section-header {
      border-left: 0.1rem solid $color-prussian-blue;
      border-top: 0.1rem solid $color-prussian-blue;
    }
  }
  #project-pictures-carousel {
    height: 60vh;
    background: $background-stripes;
    .carousel-inner {
      height: 100%;
    }
    .carousel-item {
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    .project-image {
      max-width: 90%;
      max-height: 90%;
      width: auto;
      height: auto;
      border: 0.6rem solid rgba(76, 76, 76, 0.2);
    }
    i.material-icons {
      background-color: black;
      opacity: 0.5;
      border-radius: 100%;
      font-size: 3rem;
      padding: 0.2rem;
    }
  }
  section[data-section-id="proposals"] {
    .section-header {
      border-left: 0.1rem solid #607D8B;
      border-top: 0.1rem solid #607D8B;
    }
  }
}

body,
html {
    max-width: 100%;
    overflow-x: hidden; //make sure mobile side scrolling is disabled
}

// Phones
@include media-breakpoint-down(sm) {
  .projects {
    .jumbotron{
      margin-bottom: 0rem;
    }
    header
    {
      background-size: 100%;
      background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), image-url("change-laptop") no-repeat;
      background-size: cover;
      background-position: center;
    }
    #Discover
    {
      height: 30em;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      h1{
        padding-top: 3rem;
        color: white;
        text-align: center;
      }
      h4{
        color: white;
        text-align: center;
      }
    }
    #view-projects
    {
      height:12rem;
      background-color: rgb(15, 73, 161);
      color: white;
      .filters
      {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        #options-title{
          padding-top: 0.3rem;
          padding-right: 1rem;
          width: 100%;
        }
        .options{
        }
      }
    }
    #projects
    {
      margin-left: 1rem;
      .projects-card{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .card{
          width: 10rem;
          height: 14rem;
          margin-right: 2rem;
          margin-top: 2rem;
        }
      }
    }
  }
}


// Not phones
@include media-breakpoint-up(md) {
  .projects {
    .jumbotron{
      margin-bottom: 0rem;
    }
    header{
      background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), image-url("change-laptop") no-repeat;
      background-size: cover;
      background-position: center;
    }
    #Discover
    {
      .tracking-in-expand {
        -webkit-animation: tracking-in-expand 1s ease-in both;
                animation: tracking-in-expand 1s ease-in both;
      }
      @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      height: 40em;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      h1{
        padding-top: 3rem;
        color: white;
        text-align: center;
        font-size: 5rem;
      }
      h4{
        color: white;
        text-align: center;
      }
    }
    #view-projects
    {
      height: 10.5rem;
      background-color: rgb(15, 73, 161);
      color: white;
      .filters
      {
        padding-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        #options-title{
          padding-top: 0.3rem;
          width: 100%;
        }
        .options{
        }
      }
    }
    #projects
    {
      margin-top: 3rem;
      .projects-card{
        display: flex;
        flex-flow: none;
        .card{
          width: 10rem;
          height: 14rem;
          margin-right: 2rem;
          margin-top: 2rem;
        }
      }
    }
  }
}

// large monitors
@include media-breakpoint-up(xl) {
  .projects {
    .jumbotron{
      margin-bottom: 0rem;
    }
    header
    {
      background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), image-url("change-laptop") no-repeat;
      background-size: cover;
      background-position: center;
    }
    #Discover
    {
      //background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0)), image-url("change-laptop") no-repeat  center center fixed;
      //background-size: cover;
      //background-repeat: no-repeat;
      height: 30em;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      h1{
        color: white;
        text-align: center;
      }
      h4{
        color: white;
        text-align: center;
      }
    }
    #view-projects
    {
      height:6rem;
      background-color: rgb(15, 73, 161);
      color: white;
      .filters
      {
        padding-top: 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        #options-title{
          padding-top: 0.3rem;
          width: auto;
        }
        .options{
        }
      }
    }
    #projects
    {
      margin-top: 3rem;
      margin-left: 3rem;
      .projects-card{
        display: flex;
        flex-flow: none;
      }
      .card{
        width: 10rem;
        height: 14rem;
        margin-right: 1rem;
        margin-top: 2rem;
      }
    }
  }
}
