// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// The following are styles which apply to all views related to the Projects
// controller.

.projects {

  article h1, article h2, article h3, article h4, article h5, article h6 {
    /* Resets margins */
    margin-top: 0;
  }

  .btn-primary {
    background-color: $color-orange;
    border-color: transparent;
    color: white;
  }

  .btn-primary:hover {
    border-color: transparent;
    background-color: $color-light-orange;
  }

  .btn-primary-hollow {
    color: $color-orange;
    border-color: $color-orange;
    background-color: transparent;
  }

  .btn-primary-hollow:hover {
    color: $color-light-orange;
    border-color: $color-light-orange;
  }

  /* ============================================
     Splash Banner Styles
  ============================================ */

  #page-main-header {
    padding-top: 120px; /* 83.33% */
    padding-bottom: 24px;
    background-image: image-url("lost-boy.jpg");
  }

  /* ============================================
     Main Section Styles
  ============================================ */

  #main-section {
    article {
      position: relative;
      z-index: 1;
      padding-bottom: 40px;
      margin-bottom: 20px;

      p {
        font-size: 18px;
        line-height: 1.8;
        text-align: justify;
      }

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 40%;
        right: 40%;

        border-bottom: 1px solid $color-light-turquoise;
      }
    }

    .article-header {
      font-weight: 200;
      font-size: 40px;

      padding: 20px 0 10px;
      border-bottom: 2px solid $color-turquoise;
      &::first-letter {
        color: $color-orange;
      }
    }
  }

  .opp-card-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
    .opp-card {
      padding: 0 1%;
      flex: 1;
      min-width: 280px;
      margin-bottom: 20px;
      a {
        position: relative;
        overflow: hidden;
        z-index: 1; /* Help ensures smooth image zooming */
        display: block; /* Help ensures smooth image zooming */

        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);

        &:hover .opp-card-image,
        &:focus .opp-card-image {
          transform: scale(1.1);
        }
      }
      p {
        word-wrap: break-word;
      }
      .img-wrapper {
        width: 100%;
        height: 200px;
        overflow: hidden;
      }
      .opp-card-image {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $color-light-turquoise;
        background-position: center;
        background-size: cover;
        transition: all .5s;
        &::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
        }
      }
      .content-wrapper {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 10px 20px;
      }
      .opp-card-header {
        font-size: 30px;
        padding-bottom: 20px;
        position: relative;
        &:after {
          content: "";
          width: 35px;
          position: absolute;
          bottom: 0;
          left: 0;
          border-bottom: 5px solid white;
        }
      }
    }
  }
}

.projects-index {
  #main-section {
    p {
      font-size: 24px;
    }
  }
}

.projects-show {

  #page-main-header {
    p {
      float: left;
      margin-bottom: 10px;
    }

    .project-team {
      width: 100%;
    }

    .project-location {
      position: relative;
      z-index: 1;
      padding-right: 30px; /* Line in-between location and date */

      &::before {
        /* For generating that little line in-between location and date */
        content: ""; /* Necessary for the pseudo-element to show */
        position: absolute;
        z-index: -1;
        right: 15px;
        top: 5px;
        bottom: 5px;
        border-right: 1px solid white;
      }
    }
  }

  /* ============================================
     Tags Styles
  ============================================ */

  .tags {
    margin: 0;
    font-size: 0;

    li {
      padding: 10px 10px;
      margin-right: 5px;
      margin-top: 10px;
    }
  }

  /* ============================================
     Sidebar Styles
  ============================================ */

  #sidebar-section {
    article {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h4 {
      padding: 30px 0;
      font-size: 26px;
      letter-spacing: 2;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .project-contact {
    > * {
      margin-bottom: 30px;
    }
  }

  .contact-btn {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;

    letter-spacing: 10px;
    font-size: 20px;
  }

  .social-media-links {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
  }

  .connect-link {
    width: 33.333%;
    padding: 0 10px;
    &:hover {
      opacity: 0.8;
    }
    img {
      width: 100%;
      height: auto;
      max-width: 100px;
      max-height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    span {
      font-size: 18px;
    }
  }
}

.projects-new #page-main-header {
  background-image: image-url("mac-addicts.jpg");
}

/* ============================================
   Media Queries Styles
============================================ */

@media (min-width: 768px) { /* Tablets and up */
  .projects .opp-card-grid .opp-card {
    .img-wrapper {
      height: 150px;
    }
    .content-wrapper {
      padding: 10px 15px;
      position: static;
      color: black;
    }
    .opp-card-header {
      padding-top: 20px;
      font-size: 24px;
      &:after {
        border-bottom: 5px solid black;
      }
    }
  }
}

@media (min-width: 992px) { /* md and up */
  .projects-show {
    #sidebar-section {
      border-left: 1px solid $color-light-turquoise;
      border-right: 1px solid $color-light-turquoise;
      article {
        width: 100%;
      }
      h4 {
        font-size: 20px;
        padding: 15px 0;
      }
    }
    .project-contact {
      > * {
        margin-bottom: 30px;
      }
    }
    .contact-btn {
      letter-spacing: 3px;
    }
  }

  .projects .opp-card-grid .opp-card {
    margin-bottom: 10px;
  }
}
