// Place all the styles related to the Proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/////////////////////////////////////////////////
// New Proposal Form Styles /////////////////////
/////////////////////////////////////////////////

.proposals-new-form {
  textarea {
    background-image: image-url("keyboard");
    resize: none;
    background-size: 16rem auto;
    background-position: bottom -2rem right -1.5rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 2rem;
  }
  .material-icons {
    margin-right: 0.4rem;
  }

}
