.static-pages {
  #static-pages-about-header {
    background-image: image-url("headers/about");
  }
  #static-pages-contact-header {
    background-image: image-url("headers/contact");
  }
  #static-pages-privacy-header, #static-pages-tos-header {
    background-image: image-url("headers/policies");
  }
  #static-pages-tba-header {
    background-image: image-url("headers/tba");
  }

  .static-pages-header {
    background-position: center center;
    background-size: cover;
    .container {
      padding: $header-container-padding;
      height: $header-container-height;
      h1 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }
    }
  }

  .static-pages-main {
    background-color: $color-light-grey;
    .container {
      padding: 4rem 8rem;
      li {
          list-style: decimal;
      }
    }
  }
}
