#users-show {
  background-color: #E6E6E6;
  .users-show-container {
    background-color: #F2F4F4;
    position: relative;
    height: 100vh;
    @include light-shadow;
  }

  .control-panel {
    width: 25%;
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    padding-left: inherit;
    padding-right: inherit;
    background-color: white;
    padding-top: 1rem;
    border-right: 0.01rem solid #CED3D3;
  }
  .content-panes {
    width: 75%;
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    right: 0;
    padding-left: inherit;
    padding-right: inherit;
  }
  .jobs-pane {
    position: relative;
    width: 100%;
  }
  .jobs-pane-header {
    background-color: white;
    padding: 1.4rem;
    margin: 1rem 0;
    border: 1px solid #ced3d3;
    border-radius: 0.2rem;
    width: 100%;
  }
  .projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    .pcard {
      flex: none;
      width: 16em;
      margin-bottom: 0.8em;
    }
  }
}
