#users-show, #users-edit {
  background-color: #F2F4F4;
  color: #2F3A4B;
  .pane-header, .pane-section {
    padding: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 1rem -0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 100%;
  }
  .pane-header {
    background-color: #FF845E;
    background-image: linear-gradient(to right, #FF845E, #F9A327);
    color: white;
    font-size: 1.7rem;
  }
  .pane-section {
    padding: 2rem 2rem 0.5rem;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .pane-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: none;
    margin-bottom: 1rem;
  }
  .edit-button {
    color: white;
    width: 6rem;
    text-align: center;
    background-color: #00DFAB;
    background: linear-gradient(to right, #00DFAB, #00ECCA);
    padding: 0.5rem 1.3rem;
    border-radius: 0.7rem;
    &:hover {
      background: linear-gradient(to right, #04f1b9, #00ECCA);
    }
  }
  .profile-pane-cell {
    width: 50%;
    flex: 1 0 auto;
    margin-bottom: 1.5rem;
    span , label {
      color: #00B593;
      display: inline-block;
      width: 100%;
    }
  }
}

#users-show {
  overflow: hidden;
  a {
    color: inherit;
  }
  .main-row {
    height: 100vh;
    padding-top: $navbar-height;
    align-items: flex-start;
  }
  .control-panel {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    max-height: calc(100% - 1.5em);
    background-color: white;
    box-shadow: 0px 0px 1rem -0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }
  .calling-card {
    padding: 1.7rem 0;
    border-bottom: 0.01rem solid #CED3D3;
    text-align: center;
  }
  .profile-pic {
    width: 7.5rem;
    height: auto;
    border-radius: 100%;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #f7dfbc;
    max-width: 100%;
  }
  .info-line {
    margin: 0;
    margin-top: 0.2rem;
    font-family: "Lato";
  }
  .user-name {
    font-size: 1.7rem;;
  }
  .quick-nav {
    display: block;
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0.7rem 0 0.7rem;
    background-color: inherit;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .nav-link {
    height: 3rem;
    padding-left: 30px;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    background-color: inherit;
    transition-duration: 0.2s;
    &.active, &:hover {
      color: #007BFF;
      box-shadow: 0px 0px 1rem -0.2rem rgba(0, 0, 0, 0.2);
    }
  }
  .content-panes {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .tab-pane {
    padding-top: 1rem;
  }
  .projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    .pcard {
      flex: none;
      width: 32%;
      margin-bottom: 0.8em;
    }
  }
}

#users-edit {
  margin-top: $navbar-height;
  padding-top: 1rem;
}
