<div id="devise-<%= yield :css_slug %>" class="devise">
  <header id="devise-<%= yield :css_slug %>-header" class="devise-header">
    <div class="container">
      <h1>
        <%= yield :header %>
      </h1>
    </div>
  </header>
  <main class="devise-main">
    <section class="container">
      <div class="center">
        <%= yield %>
      </div>
    </section>
  </main>
</div>
