<% provide(:title, "Categories") %>
<% content_for :css_slug do %>index<% end %>
<% content_for :header do %>Categories<% end %>
<%= render layout: "main" do %>
  <section class="container">
    <%= render partial: "category", collection: @categories %>
  </section>
<% end %>
