<% provide(:title, @category.name) %>
<div class="container col-xs-12">
  <h1><%= @category.name %></h1>
  <section class="container opt-section">
    <div class="row">
      <%= render @projects %>
    </div>
  </section>
</div>
