<html>
<head>
    <title>Changenuity Project Card</title>
     <link rel="stylesheet" href="CSS/projectCard.css">
     <link rel="stylesheet" href="CSS/bootstrap.css">
     <link rel="stylesheet" href="fonts/glyphicons-halflings-regular.eot">
</head>

<body class="body">

  <article class="card-body">
    <div>
      <img class="card-img" src="http://newstorycharity.org/assets/img/locals/locals-construction-wide.jpg">
      <!--<p class="btn-recruiting">$</p>-->
    </div>

    <section class="card-content">
      <a class="card-title">Beautify: Ecuador</a>
      <h2 class="card-subtitle">Ahuachapan, El Salvador</h2>
      <h2 class="card-org">by <a>newstory</a> </h2>
    </section>

    <section class="bottom-bar">
      <section class="btn-fav">
        <div class="btn-box">
          <span id="heart-icon" class="glyphicon glyphicon-heart"></span>
        </div>
        <p class="num-fav">0</p>
      </section>
      <section class="main-category category-infrastructure">
        <p>Infrastructure</p>
      </section>
    </section>
  </article>

</body>
</html>