<footer class="footer">
  <small>
    Copyright &copy; 2017 Changenuity.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path   %></li>
      <li><%= link_to "Blog",    root_path    %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
