<footer id="page-footer" style="display: none">
  <a class="back-to-top" href="#top"><i class="material-icons">keyboard_arrow_up</i></a>
  <div class="container footer-container">
    <div class="links-wrapper">
      <!-- <h4 class="links-header">Keep Exploring</h4> -->
      <ul class="links-list footer-links-list">
        <li class="footer-link"><%= link_to "Home", home_path %></li>
        <li class="footer-link"><%= link_to "About", about_path %></li>
        <li class="footer-link"><%= link_to "Terms", tos_path %></li>
      </ul>
    </div>
    <div class="links-wrapper">
      <!-- <h4 class="links-header">Also At</h4> -->
      <ul class="links-list footer-links-list">
        <li class="footer-link"><a href="https://www.facebook.com/changenuity/"><i class="fa fa-facebook-official link-icon" aria-hidden="true"></i>Facebook</a></li>
        <li class="footer-link"><a href="https://medium.com/@changenuity"><i class="fa fa-medium link-icon" aria-hidden="true"></i>Blog</a></li>
        <li class="footer-link"><a href="https://twitter.com/changenuity"><i class="fa fa-twitter link-icon" aria-hidden="true"></i>Twitter</a></li>
      </ul>
    </div>
    <p class="footer-brand">
      <span class="footer-copyright">Copyright &copy; 2017 Changenuity.</span>
      <%= image_tag "delta_logo.svg", class: 'svg footer-logo' %>
    </p>
  </div>
</footer>
