<nav id="navbar" class="">
  <%= link_to home_path do %>
    <div id="navbar-brand">
      <%= image_tag("logo-notext-white.png", alt: "Changenuity Logo", class: "brand-img") %>
      <span class="brand-text">Changenuity</span>
    </div>
  <% end %>
  <ul id="navbar-primary" class="links-list">
    <li class="navbar-primary-link"><a href="http://google.ca">Discover</a></li>
    <li class="navbar-primary-link"><a href="http://google.ca">Discuss</a></li>
    <li class="navbar-primary-link"><a href="http://google.ca">About</a></li><!-- Should the "About" page really be up here? -->
  </ul>
  <div id="navbar-secondary">
  </div>
</nav>
