<header class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid col-xs-12">
    <span class="header-logo">
      <%= link_to image_tag("logo.png", alt: "Changenuity logo"),
                  root_path %>
    </span>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Post",   post_path %></li>
        <li><%= link_to "Browse", root_path %></li>
      </ul>
    </nav>
  </div>
</header>
